* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: white;
    color: #000;
}

body {
    min-height: 100vh;
    font-size: 18px;
}

input,
textarea,
button,
select {
    font: inherit;
    margin-bottom: 1.2em;
}

input,
textarea,
select, button {
    padding: .6rem;
}

button {
    cursor: pointer;
}
button:disabled {
    cursor: not-allowed;
    opacity: .6;
}

header {
    padding: 1rem;
    background-color: rgb(0, 64, 128);
    color: whitesmoke;
    position: sticky;
    top: 0;


    display: flex;
    flex-direction: column;
    row-gap: 1.4rem;
}

nav {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        justify-content: flex-end;
    }
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav a,
nav a:visited {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
}

main {
    max-width: 500px;
    margin: auto;
}

section {
    margin-top: 1em;
}

article {
    margin: 0.5em;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1em;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    margin-bottom: 1rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-size: 1.2rem;
    margin: 0.5em 0;
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    height: 200px;
}

.postCredit {
    font-size: 1rem;
}

.postCredit a,
.postCredit a:visited {
    margin-right: 0.5rem;
    color: black;
}

.postCredit a:hover,
.postCredit a:focus {
    color: hsla(0, 0%, 0%, 0.75);
}

.excerpt {
    font-style: italic;
}

.reactionButton {
    margin: 0 0.25em 0 0;
    background: transparent;
    border: none;
    color: #000;
    font-size: 1rem;
}

.deleteButton {
    background-color: palevioletred;
    color: white;
}

.logo {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.img-logo {
    display: inline-block;
    width: 1.6rem;
    aspect-ratio: 1;
    /* border: 1px solid;
    border-radius: 50%; */
    background-image: url('/logo.svg');
}